{
  "extends": "./../.eslintrc",
  "globals": {
    "afterAll": false,
    "afterEach": false,
    "beforeAll": false,
    "beforeEach": false,
    "describe": false,
    "expect": false,
    "it": false,
    "jest": false
  }
}